import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start{
	private static thorCodebase = "$[codebase]";
	private static thorPolicy = "$[policy]";
	private static thorClasspath = "$[additionallibs]$[:]$[jinilibs]$[:]$[serviceuiloc]";
	private static thorConfig = "$[config]";
	
	serviceDescriptors = new ServiceDescriptor[] {
		new NonActivatableServiceDescriptor(
			thorCodebase, thorPolicy, thorClasspath,
			"org.jini.projects.thor.service.ThorServiceImpl",
			new String[]{thorConfig}
		)
	};
}