import org.jini.projects.thor.service.constrainable.creator.*;
import net.jini.jeri.*;
import net.jini.jeri.http.*;

ExportManager {
    mgrDefs = new String[]{"Service", "Standard", "ClientHandlers"};
}


ExportManager.Service{
 exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();    proxyCreator = new ThorServiceCreator();
}

ExportManager.Standard{
	 exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new ThorServiceCreator();
}


ExportManager.ClientHandlers{
 exporterClass = BasicJeriExporter.class;
        serverEndpoint = HttpServerEndpoint.getInstance(0);
        ILFactory = new BasicILFactory();
    proxyCreator = new ClientHandlerCreator();
}

TestReference{
    serverExporter = new BasicJeriExporter(HttpServerEndpoint.getInstance(0),new BasicILFactory());    
}
