/* JAAS login configuration file for server */

org.jini.projects.thor {
    com.sun.security.auth.module.KeyStoreLoginModule required
	keyStoreAlias="thor"
	keyStoreURL="file:/home/calum/serverkey.key"
	keyStorePasswordURL="file:/home/calum/workspace/thor.jini.org/dist/config/ks.password"
	privateKeyPasswordURL="file:/home/calum/workspace/thor.jini.org/dist/config/service.password";
};
