import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.SharedActivatableServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start{
	private static thorCodebase = "http://horus:8081/thor-dl.jar";
	private static thorPolicy = "config\\policy.all";
	private static thorClasspath = "d:\\development\\workspace\\thor.jini.org\\bin;d:\\development\\jini2_0_1\\lib\\jsk-platform.jar;d:\\development\\jini2_0_1\\lib\\jini-ext.jar;d:\\development\\jini2_0_1\\lib\\sun-util.jar;d:\\development\\libs\\exportermanager.jar;d:\\development\\libs\\serviceui-1.1.jar";
	private static thorConfig = "d:\\development\\workspace\\thor.jini.org\\bin\\config\\thor.config";
	
	serviceDescriptors = new ServiceDescriptor[] {
		new NonActivatableServiceDescriptor(
			thorCodebase, thorPolicy, thorClasspath,
			"org.jini.projects.thor.service.ThorServiceImpl",
			new String[]{thorConfig}
		)
	};
}